body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    margin: 0;
    padding: 30px;
}

.app-card {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    cursor: pointer;
}
